.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
  }

@media (max-width: 1000px) {
    .product_card {
        flex: 1 20%;
    }
}

@media (max-width: 800px) {
    .product_card {
        flex: 1 26%;
    }
}

@media (max-width: 600px) {
    .product_card {
        flex: 1 46%;
    }
}
