.nav {
    background: whitesmoke;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 70px;
    line-height: 70px;
    padding-top: 8px;
    width: 100vw;
    z-index: 10;
}

.nav_wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 

.nav_wrapper span {
  float: right;
  line-height: 36px;
}

.logo {
    cursor: pointer;
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
}